<div class="navbar">
  
  <a class="active" [routerLink]="['']" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}"><img [src]="imageHome" alt="home icon" width = "25" height = "25"></a>
  <a class="active" [routerLink]="['/search-stock']" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}"><img [src]="imageSearch" alt="search icon" width = "25" height = "25"></a>
  <a *ngIf='!isUserAuthenticated'class="active" [routerLink]="['/login']" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}"><img [src]="imageLogin" alt="login icon" width = "25" height = "25"> Login</a>
  <a *ngIf='isUserAuthenticated'class="active" [routerLink]="['/login']" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}"><img [src]="imageLogin" alt="login icon" width = "25" height = "25"> Logout</a>
  <a class="active" [routerLink]="['/register']" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}"><img [src]="imageRegister" alt="registration icon" width = "25" height = "25">Register</a>
</div>