
<div *ngIf="commodity">
<h1> {{commodity.commodityName}} </h1>
<p>{{commodity.stockSymbol}}</p>
<p>{{commodity.type}}</p>

</div>
<div> 
<form [formGroup]="changeForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(changeForm.value)">
    <div class="form-group row">
        <label for="newTotal" class="col-form-label col-sm-2">New Total:</label>
        <div class="col-md-5">
            <input type="number" id="newTotal" formControlName="newTotal" class="form-control" />
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-info" [disabled]="!changeForm.valid">Update</button>
        </div>
    </div>
</form>
</div>
<div *ngIf="!commodity"> 
    <form [formGroup]="tickerForm" autocomplete="off" novalidate (ngSubmit)="tickerSubmit(tickerForm.value)">
        <div class="form-group row">
            <label for="ticker" class="col-form-label col-sm-2">Ticker/Symbol</label>
            <div class="col-md-5">
                <input type="text" id="ticker" formControlName="ticker" class="form-control" />
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!tickerForm.valid">Search</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="showMatch">
    <h1> Do any of these match what you are looking for?</h1>
    <ul> 
        <li *ngFor='let commodity of userCommodity; let i=index'>
            {{i+1}} - {{commodity.commodityName}} | {{commodity.stockSymbol}} | {{commodity.type}} 
            <button  type="submit" class="btn btn-primary"(click)="addPortfolio(commodity.commodityId)" >click to add to Watched</button>
        </li>
    </ul>
    <p>If not click here to add it to our database</p>
    <button class="btn btn-primary">  
        <a class="navbar-brand" [routerLink]="['/commodity']" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">No</a>
    </button>
</div>
