


<h1> need to display current stock values. I struggled displaying stuff here. Only got the crypto seachg to work but i needed to make a model
    still need to get stock option to work here.
</h1>
<div>
    {{crypto?.symbol}}
    {{crypto?.description}}
 </div>
<table>
    <thead>

        
        <th>
            Name
        </th>
        <th>
            Symbol
        </th>
        <th>
            Price
        </th>
        <th>
            MarketCap
        </th>
        <th>
            Rank
        </th>
        <th>
            All Time High
        </th>
        
        <th>
            Description
        </th>
    </thead>
   <!-- <tr *ngFor='let key in nerd'>
      <td>{{key.name}}</td>
        <td>{{key.symbol}}</td>
        <td>{{key.price}}</td>
        <td>{{key.marketCap}}</td>
        <td>{{key.rank}}</td>
        <td>{{key.allTimeHigh}}</td>
        <td>{{key.description}}</td> 
   </tr> -->
</table>


