<div> 
<form [formGroup]="searchForm" (ngSubmit)="assetSearch(searchForm.value)">
    <div class="form-group row">
        <label for="ticker" class="col-form-label col-sm-2">Ticker:</label>
        <div class="col-md-5">
            <input type="text" id="ticker" formControlName="ticker" class="form-control" />
        </div>
        </div>
        <br>
        <p>
            <input type="radio" value="Stock"  formControlName="type" > Stock
            <input type="radio" value="Crypto" formControlName="type"> Crypto
        </p> 
        <div class="form-group row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!searchForm.valid">Search</button>
            </div>
        </div>   
    </form>
</div>
<div>
    <table>
        <tr>
            <td>
             {{commodity.commodityName}}
            </td>
             <td>
             {{commodity.stockSymbol}}
            </td>
            <td>
                {{commodity.type}}
            </td>
        </tr>
    </table>
    <button *ngIf="confirm"
    type="submit"
    class="btn btn-primary"
    (click)="add()">
    Click if correct
  </button>   
<div *ngIf="search">
    <ul>
        <li *ngFor='let coin of crypto; let i=index'>
            {{i+1}} - {{coin.name}} | {{coin.symbol}} | {{coin.price}} 
            <button  type="submit" class="btn btn-primary"(click)="addCrypto(coin.name, coin.symbol, coin.uuid)" >click to add</button>
        </li>
    </ul>
</div>


